# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/mbart50_many_to_many_model
/mbart50_many_to_many_tokenizer
/*.joblib
/model
/__pycache__
/exported_steps
/.env
/bert_experiment_output
/bert_experiment_output_no_preprocessing
/bert_experiment_output_partial_preprocessing
/litlat_bert_experiment_output_no_preprocessing
/model_no_preprocessing
/model_partial_preprocessing