# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/mbart50_many_to_many_model
/mbart50_many_to_many_tokenizer
/*.joblib
/model
/__pycache__